{%extends "base.html"%}

{% block title %}
Network Page
{% endblock %}


{% block content %}
<body class="text-left">
    <div class="container">
        <form method="POST" class="from-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h5 mb-3 font-weight-normal">
                Please enter Node URL 
            </h1>
            <br>
            {{ form.add_Node_URL.label() }}
            {{ form.add_Node_URL(class="form-control", placeholder="localhost:5000") }}
            <br>
            {{form.submit(class="btn btn-lg btn-block btn-primary")}}
            <br>

            <div class="checkbox mb-3">
                <h6>Remove the node from network?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('remove_node_page') }}">Remove</a>
            </div>

            <div class="checkbox mb-3">
                <h6>Nodes in Network</h6>
                <a class="btn btn-lg  btn-primary" href="{{ url_for('get_node_page') }}">Load Peer Nodes</a>
            </div>
            <a class="btn btn-secondary text-center" href="{{ url_for('requirement_page') }}">Back</a>
        </form>
    </div>
    
</body>
{% endblock %}