{% extends "base.html" %}

{% block title %}
Contact 
{% endblock%}

{% block content %}
<body class="text-center">
    <div class="col-md-8">
        <div style="margin-bottom: 5px" class="card text-left bg-dark">
            <div class="card-body">
                <h2 class="card-title">Contact Information</h2>
                <p class="card-text"><strong>
                    <h3 class="display-16 font-weight-normal">TEAM (VIPR-GS:3.1)</h3>
                    <h4 class="display-16 font-weight-normal">CU-ICAR </h4>
                    <h4 class="display-16 font-weight-normal">Department of Automotive Engineering</h4>
                    <h4 class="display-16 font-weight-normal">Clemson University</h4>
                    <h4 class="display-16 font-weight-normal">4 Research Drive</h4>
                    <h4 class="display-16 font-weight-normal">Greenville, SC-29607</h4>
                    <h4 class="display-16 font-weight-normal">Email: </h4>
                    <h4 class="display-16 font-weight-normal">Tel: </h4>
                </strong></p>
            </div>
        </div>
    </div>   
</body>
{% endblock %}