{% extends "base.html" %}

{% block title %}
Info
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="col-md-8">
        <div style="margin-bottom: 5px" class="card text-left bg-dark">
            <div class="card-body">
                <h2 class="card-title">More Information</h2>
                <p class="card-text"><strong>
                    This application allows users to add the requirement artifacts as blocks to the requirement chain. 
                    The requirement chain is created based on blockcahin technology. 
                    In this requirement chain each block contains the requirement artifact. 
                    Each requirement is considered as transaction. A transaction will be signed thus a requirement once recorded is immutable and secured.
                </strong></p>
            </div>
        </div>
    </div>   
</body>
{% endblock %}